body {
  background-color: #7ad1bb90;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: white;
}

/* navigation bar stylez */
nav {
  /* color: black; */
  text-align: center;
  padding: 10px;
  padding-top: 10px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

nav a {
  color: white;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
}

nav a:hover {
  background: #FFF7AD;

}

div {
  padding: 5% 5% 5% 5%;
}
