

body {
  background-color: #7ad1bb90;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: white;
}

/* navigation bar stylez */
nav {
  /* color: black; */
  text-align: center;

  padding: 10px;
  padding-top: 10px;
  text-decoration: none;
  font-size: 20px;

  font-family: 'Raleway', sans-serif;
}

nav a {
  color: white;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
}

nav a:hover {
  background: #FFF7AD;

  /* background: #FFF18D; */
}

textarea[type=text] {
  font-size: 25px;
  color: white;
  /* change height to a percent or something */
  /* height: 500px; */
  width: 80%;
  overflow: auto;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #FFD7CA;
  outline: none;
  /* background-color: #FFD5B8; */
  resize: none;
}

input[type=submit] {
  font-size: 15px;
  background-color: white;
  border: none;
  text-decoration: none;
  /* background-color: #b3ffda; */
  font-family: 'Raleway', sans-serif;
  margin: 1% 1% 1% 1%;
  width: 15%;
  cursor: pointer;
}


form {
  text-decoration: none;
  display: center;
  padding: 2% 0 0 15%;
}

