body {
  background-color: #7ad1bb90;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: white;
}

/* navigation bar stylez */
nav {
  /* color: black; */
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 33px;
  font-family: 'Raleway', sans-serif;
}

nav a {
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 33px;
  font-family: 'Raleway', sans-serif;
}

nav a:hover {
  /* background: #FFF7AD; */
  background: #FFD7CA;
  /* background: #FFF18D; */
}

textarea[type=text] {
  font-size: 27px;
  color: #999999;
  /* change height to a percent or something */
  /* height: 500px; */
  width: 80%;
  overflow: auto;
  padding: 2% 2% 2% 2%;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  /* background-color: #FFD7CA; */
  background-color: #faffe6ff;
  outline: none;
  /* background-color: #FFD5B8; */
  resize: none;
}

input[type=submit] {
  font-size: 15px;
  background-color: white;
  border: none;
  text-decoration: none;
  /* background-color: #b3ffda; */
  font-family: 'Raleway', sans-serif;
  margin: 1% 1% 1% 1%;
  width: 15%;
  cursor: pointer;
}

form {
  text-decoration: none;
  display: center;
  padding: 2% 0 0 15%;
}
