.container {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px;
}

body {
  background-color: #7ad1bb90;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: white;
}

/* navigation bar stylez */
nav {
  /* color: black; */
  text-align: center;
  padding: 10px;
  padding-top: 10px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

nav a {
  color: white;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
}

nav a:hover {
  background: #FFF7AD;
}

textarea[type=text] {
  font-size: 25px;
  color: white;
  /* change height to a percent or something */
  /* height: 500px; */
  width: 80%;
  overflow: auto;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #ffc6b3;
  resize: none;
}

input[type=submit] {
  font-size: 15px;
  background-color: white;
  border: none;
  text-decoration: none;
  /* background-color: #b3ffda; */
  font-family: 'Raleway', sans-serif;
  margin: 1% 1% 1% 1%;
  width: 15%;
  cursor: pointer;
}

/* background-color: #4CAF50;

  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer; */

form {
  text-decoration: none;
  display: center;
  padding: 2% 0 0 15%;
}
/*
button {
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
  font-family: Georgia, serif;
  font-size: 35px;
} */
