/* The dots/bullets/indicators */
/* The dots/bullets/indicators */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  padding-top: 35px;
  margin: auto;
}

body {
  background-color: #004080;
}

/* navigation bar stylez */
nav {
  text-align: center;

  padding: 15px;
  text-decoration: none;
  font-size: 33px;
  font-family: 'Raleway', sans-serif;
}

nav a {
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 33px;
  font-family: 'Raleway', sans-serif;
}

nav a:hover {
  /* background: #FFF7AD; */
  background: #FFD7CA;
  /* background: #FFF18D; */
}

.orgs {
  text-align: left;
  font-size: 50px;
  padding: 40px;
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */




/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 10s;
  animation-name: fade;
  animation-duration: 10s;
}

.text1 {

  font-size: 30px;
  text-align: center;
  width: 50%;
  height: 350px;
  border: 5px solid #999999;
  background-color: #e6e6e6;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

.text2 {
  font-size: 30px;
  text-align: center;
  width: 50%;
  height: 350px;
  border: 5px solid #e6e6e6;
  background-color: #999999;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
.textlink {
  color: black;
  font-size: 35px;
}

nav a.textlink:hover {
  background: #b3ecff;

}

.flex-container {
  display: flex;
}

.howitworksdisclaimer {
  text-align: center;
  font-size:40px;
  font-family: 'Amatic SC', cursive;
  background-color: #b3cce6;
  border: 5px solid #6699cc;
  padding: 30px;
  color: #264b73;

}
h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: left;
  font-size: 25px;
}

h3 {

  text-align: left;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;

}


.resourceintro {
  text-align: left;
  background-color: #b3daff;
  /* border: 5px solid #00b300; */
  padding: 15px;
  font-size: 30px;
  font-weight: bold;
  color: #660033;
  font-family: 'Amatic SC', cursive;
}

.resource1 {
  padding: 15px;
  text-align: left;
  font-size: 20px;
  font-family: serif;
  background-color: #e6ffff;
  /* border: 5px solid #00b300; */
  padding: 20px;
  color: #1f004d;
}
.toresources {
  padding: 15px;
  background-color: #c0e5f2;
  /* border: 5px solid #00b300; */
  padding-left: 15px;
  padding-bottom: 15px;
  color: black;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}
.toresources_blogs {
  padding: 15px;
  background-color: #cceeff;
  /* border: 5px solid #00b300; */
  padding-left: 15px;
  padding-bottom: 15px;
  color: black;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}
div a {
  color: black;
  text-align: center;
  padding: 10px;
  padding-bottom: 15px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

div a:hover {
  background: #FFD7CA;
}
.p {
  padding: 15px;
  color: #193366;
  font-size: 30px;
  font-family: 'Shadows Into Light Two', cursive;
  text-align: center;
  background-color: #d6e0f5;
  /* border: 5px solid #00b300; */
}
/* .music {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 100px;
} */
.img {
  display: inline-block;
flex-direction: row;
background-image: url('/images/images.png');
background-size: cover;
height: fit-content;
width: fit-content;
text-align: center;
vertical-align: middle;
margin: 20px;
padding: 100px;
}
