body {
  /* background-color: #6dbca890; */
  background-color: #66af8890;
  font-family: 'Raleway', sans-serif;
}

/* navigation bar stylez */
nav {
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 33px;
  font-family: 'Raleway', sans-serif;
}

nav a {
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 33px;
  /* font-family: 'Raleway', sans-serif; */
}

nav a:hover {
  /* background: #FFF7AD; */
  background: #FFD7CA;
  /* background: #FFF18D; */
}

.music {
  margin: 1% 1% 1% 1%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto 5%;
  /* grid-auto-flow: row; */
  /* grid-column-gap: 1%; */
  /* grid-row-gap: 100%; */
  place-items: center;


}

.tape {
  width: 100%;
  height: auto;

}

p {
  text-align: center;
  color: white;
  font-size: 30px;
}

/* .words {
  padding: 1% 1% 1% 1%;
  margin: 0 2% 0 2%;
} */

.inline {
  /* justify-self: center; */
  /* grid-column-start: col-start 1; */
  /* display: inline-block;
  margin: 0 auto 0 auto; */
  padding: 3% 3% 3% 3%;

}
