.container {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px;
}

body {
  background-color: #b3ffda;
}

button {
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
  font-family: Georgia, serif;
  font-size: 35px;
}
