<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/glassbottle.css" type="text/css">

    <nav>
      <a href="/">home</a>
      <a href="/glass-bottle-lg">glass bottle</a>
      <a href="/posts">posts</a>
      <a href="/resources">resources</a>
      <a href="/music">music</a>
      <a href="/about">about</a>
      <a id="login_button" href="{{login_url}}">login</a>
      <a id="logout_button" href="{{logout_url}}">logout</a>
    </nav>

  </head>

  <body>

    <!-- How it Works -->
    <div class="words">

      <h1>History</h1>
      <p>
        We want to provide a non-intrusive resource that people who feel
        isolated will want to use. Designed to be a safe, secure place to
        express yourself, the Glass Bottle allows users to write about
        their feelings anonymously and then automatically deletes any text
        typed into its field. This is perfect for those struggling with
        depression who may not feel confident enough to confide in a real
        person. Our website then helps these individuals gain confidence
        and recuperate by offering various levels of sharing: users can
        first vent without saving, post anonymously to support
        others in their positions, and, in the future, can join anonymous chats
        where they discuss their issues with real people who have struggled
        with the same issues.
      </p>
      <br>
      <h1>How it Works</h1>
      <p>
        How does the Glass Bottle work? To provide a space to feel heard, the
        Glass Bottle acts as a way for you to express your feelings. For full
        anonymity, the text that you type isn’t even sent to our page. It exists
         on the surface of your computer and vanishes when you press “send”.
         Unless you choose so, your thoughts don't even leave your home or cross
          the internet. However, if you do feel like sharing your writing with
          people in similar situations, you can log in and press “post” to share
           your anonymous thoughts to positively impact others.
      </p>

      <br>
      <h1>Founders</h1>
      <p>
        Glass Bottle was created at the 2018 Google Computer Science Summer Institute
        by four excited college freshmen:
      </p>

      <!-- <h3 class = "name">Brooke</h3>
      <h3 class = "name">Lilly</h3>
      <h3 class = "name">Ezan</h3>
      <h3 class = "name">Victoria</h3> -->

      <div class="names">
        <div class="inline">
          <!-- <a href=#><img src="#"></a> -->
          <h2 class="name">Brooke</h2>
        </div>
        <div class="inline">
          <!-- <a href=#><img src=""></a> -->
          <h2 class="name">Ezan</h2>
        </div>
        <div class="inline">
          <!-- <a href=""><img src="#"></a> -->
          <h2 class="name">Lilly</h2>
        </div>
        <div class="inline">
          <!-- <a href=""><img src="#"></a> -->
          <h2 class="name">Victoria</h2>
        </div>
      </div>


    </div>

  </body>
</html>
