<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="css/glassbottle.css" type="text/css">

    <nav>
      <a href="/">home</a>
      <a href="/glass-bottle">glass bottle</a>
      <a href="/posts">posts</a>
      <a href="/resources">resources</a>
      <a href="/music">music</a>
      <a href="/about">about</a>
      <a href=#>login</a>
    </nav>

  </head>
  <body>

    <!-- How it Works -->
    <div>
      How it Works

    </div>

  </body>
</html>
