<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title style="font-family: 'Raleway', sans-serif;">the glass bottle</title>
  </head>
  <body>
    <h1> Phial your thoughts away </h1>
    <form>
      <input type="text">
      <br><br>
      <input type="submit" value="send your thought away" style=font-family: 'Raleway', sans-serif;>
    </form>
    <!-- <button>

    </button> -->
  </body>

</html>


<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>the glass bottle</title>
  <link rel="stylesheet" href="glassbottle.css" type="text/css">
  </head>
  <img src = "logo.png">

  <body>
    <div class="container">
      <button type="link1" id="Resources" >Resources</button>
      <button type="link2" id="GlassBottle" >Glass Bottle</button>
      <button type="link3" id= "Music" >Music</button>
      <button type="link4" id="Login" >Login/Sign Up</button>
    </div>
    <h1> Phial your thoughts away </h1>
    <form>
      <textarea type="text"></textarea>
      <br><br>
      <input type="submit" value="send your thought away">
    </form>
    <!-- <button>

    </button> -->
  <!-- <script src="script.js" type="text/javascript"></script> -->
  </body>
</html>




body {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

textarea[type=text] {
  font-size: 20px;
  color: white;
  height: 500px;
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #7ad1bb90;
  resize: none;
}

input[type=submit] {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  margin: 1% 1% 1% 1%;
  width: 15%;
  cursor: pointer;
}

    /* width: 100%;

    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
     */
