<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>the glass bottle</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="css/glassbottle.css" type="text/css">
    <!-- <button type="submit" id="Sign In">Sign In</button> -->
    <!-- <img src = "logo.png"> -->
    <!-- navigation bar -->
    <nav>
      <a href="/">home</a>
      <a href="/glass-bottle-lg">glass bottle</a>
      <a href="/posts">posts</a>
      <a href="/resources">resources</a>
      <a href="/music">music</a>
      <a href="/about">about</a>
      <a id="login_button" href="{{login_url}}">login</a>
      <a id="logout_button" href="{{logout_url}}">logout</a>
    </nav>

  </head>

  <body>
    <!-- <h1> Phial your thoughts here </h1> -->
    <!-- <form method="GET"> -->
    <!-- <form method="POST" action = "/posts">
      <textarea name = "entry" type="text" rows="21" placeholder= "write your thoughts down and send them away anonymously..."></textarea>
      <br><br>
      <input method="GET" type="submit" value="send your thought away" style=font-family: 'Raleway', sans-serif;>
      <input type="submit" value="share your thought">
    </form> -->
    <form method="POST" action="/posts">
      <textarea name="entry" style="min-width:70%" type="text" rows="21" placeholder="write your thoughts down and send them away anonymously..."></textarea>
      <br><br>
      <input type="submit" value="share your thought" style="min-width:150px">

        <input type="submit" form="get-form" value="send your thought away" style="min-width:200px;">
    </form>
    <form method="GET" id="get-form">
    </form>

  </body>
</html>
