<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>the glass bottle</title>
    <link rel="stylesheet" href="css/glassbottle.css" type="text/css">
    <!-- <button type="submit" id="Sign In">Sign In</button> -->
    <!-- <img src = "logo.png"> -->
    <!-- navigation bar -->
    <nav>
      <a href="/">home</a>
      <a href="/glass-bottle-lg">glass bottle</a>
      <a href="/posts">posts</a>
      <a href="/resources">resources</a>
      <a href="/music">music</a>
      <a href="/about">about</a>
      <a href="/login">login</a>
    </nav>

  </head>

  <body>
    <!-- <h1> Phial your thoughts here </h1> -->
    <!-- <form method="GET"> -->
    <form method="POST">
      <textarea name = "entry" type="text" rows="21"></textarea>
      <br><br>
      <input method="GET" type="submit" value="send your thought away" style=font-family: 'Raleway', sans-serif;>
      <input type="submit" value="share your thought">
    </form>

  </body>
</html>
