
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <link rel="stylesheet" href="css/mainpage.css" href= "mainpage.js" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- navigation bar -->
    <nav>
      <a href="/">home</a>
      <a href="/glass-bottle-lg">glass bottle</a>
      <a href="/posts">posts</a>
      <a href="/resources">resources</a>
      <a href="/music">music</a>
      <a href="/about">about</a>
      <a id="login_button" href="{{login_url}}">login</a>
      <a id="logout_button" href="{{logout_url}}">logout</a>
    </nav>
  </head>
  <body>
    <div class="slideshow-container">

    </div>
    <div class="slideshow-container">
    <div class="mySlides fade">
      <img src="css/img1.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
      <img src="css/img3.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
      <img src="css/img4.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
      <img src="css/img5.jpg" style="width:100%">
    </div>
    </div>
    <br>

    <div class= "flex-container">
      <link rel="stylesheet" href="css/mainpage.css" href= "mainpage.js" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Caveat" rel="stylesheet">
      <div class="text1" style="text-align:center" >
        <p>
          "Music is a therapy.
          <br> It is a communication far more powerful
          than words, far more immediate,
          far more efficient."
          <br> - Ehudi Menuhin
        </p>
        <nav>
          <a class="textlink" href="/music" >Music</a>
        </nav>
      </div>

      <div class="text2" style="text-align:center">
        <p>
          Get to know the faces behind the Movement!
        </p>
        <nav>
          <a class="textlink" href="/about">About Us</a>
        </nav>
      </div>
    </div>


    <div class="howitworksdisclaimer">
      <h1> A letter from the founders,</h1>
      <p>
        Our main aim is to create a safespace for you and all of our users!
        Everything is completely anonymous unless you choose to share with
        others. The process towards recovery is completely in your hands.
        We are still growing and will continue to grow and spread much
        needed positivity to anyone in need. Safeguards have been put in
        place for your safety. If you choose to post phrases or words that
        are concerning action will be taken accordingly.
      </p>
    </div>

    <div class="toresources" style="text-align: center">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Kalam|Playfair+Display" rel="stylesheet">
      <p>
        Check out our resources page!
      </p>
      <nav>
        <a class="textlink" href="/resources">Resources</a>
      </nav>
    </div>

  <!-- <script>
    function hideLogin(){
      login_button = document.querySelector("#login_button");
      login_button.style.visibility = "hidden";
    }
    function hideLogout(){
      logout_button = document.querySelector("#logout_button");
      logout_button.style.visibility = "hidden";
    }
    function showLogout(){
      logout_button = document.querySelector("#logout_button");
      logout_button.style.visibility = "visible";
    }
    function showLogin(){
      login_button = document.querySelector("#login_button");
      login_button.style.visibility = "visible";
    }

    {% if logged_in %}
      hideLogin();
      showLogout();
    {% else %}
      showLogin();
      hideLogout();
    {% endif %}
  </script> -->



  <script>
    var slideIndex = 0;
    showSlides();
    function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
         slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      // dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 10000); // Change image every 10 seconds
    }
    </script>
  </body>
</html>
