<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <link rel="stylesheet" href="css/music.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- navigation bar -->
    <nav>
      <a href="/">home</a>
      <a href="/glass-bottle-lg">glass bottle</a>
      <a href="/posts">posts</a>
      <a href="/resources">resources</a>
      <a href="/music">music</a>
      <a href="/about">about</a>
      <a id="login_button" href="{{login_url}}">login</a>
      <a id="logout_button" href="{{logout_url}}">logout</a>
    </nav>
  </head>
  <body>
    <div class="music">
      <div class="inline">
        <a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DWU0ScTcjJBdj"><img src="css/tape3.png" class="tape"></a>
        <p>relax</p>
      </div>
      <div class="inline">
        <a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX4PP3DA4J0N8"><img src="css/tape3.png" class="tape"></a>
        <p>nature</p>
      </div>
      <div class="inline">
        <a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DWSluGMsH1R9r"><img src="css/tape3.png" class="tape"></a>
        <p>classical</p>
      </div>
      <div class="inline">
        <a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DWXrDQedVqw6q"><img src="css/tape3.png" class="tape"></a>
        <p>instrumental</p>
      </div>
      <div class="inline">
        <a href="https://open.spotify.com/user/b.lenee/playlist/3mFmUR2Lta62EngBlqabMe"><img src="css/tape3.png" class="tape"></a>
        <p>motivational</p>
      </div>
      <div class="inline">
        <a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX3qCx5yEZkcJ"><img src="css/tape3.png" class="tape"></a>
        <p>mellow</p>
      </div>
      <div class="inline">
        <a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DWVqfgj8NZEp1"><img src="css/tape3.png" class="tape"></a>
        <p>jazz</p>
      </div>
      <div class="inline">
        <a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX4sWSpwq3LiO"><img src="css/tape3.png" class="tape"></a>
        <p>piano</p>
      </div>
      <div class="inline">
        <a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX1Ew8a92fTdm"><img src="css/tape3.png" class="tape"></a>
        <p>musicbox</p>
      </div>
      <div class="inline">
        <a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX8ymr6UES7vc"><img src="css/tape3.png" class="tape"></a>
        <p>rain</p>
      </div>
      <div class="inline">
        <a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX1T2fEo0ROQ2"><img src="css/tape3.png" class="tape"></a>
        <p>ambience</p>
      </div>
      <div class="inline">
        <a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DWXzR2GKEiHgT"><img src="css/tape3.png" class="tape"></a>
        <p>ocean</p>
      </div>
    </div>
    <footer>
      <p>Cassette by Maxim Kulikov from the Noun Project</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="music.js"></script>
  </body>
</html>
