<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <link rel="stylesheet" href="css/mainpage.css" href= "mainpage.js" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- navigation bar -->
    <nav>
      <a href="/">home</a>
      <a href="/glass-bottle-lg">glass bottle</a>
      <a href="/posts">posts</a>
      <a href="/resources">resources</a>
      <a href="/music">music</a>
      <a href="/about">about</a>
      <a id="login_button" href="{{login_url}}">login</a>
      <a id="logout_button" href="{{logout_url}}">logout</a>
    </nav>
  </head>

  <br>
  <br>

  <div class="resourceintro">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Kalam|Playfair+Display|Rokkitt|Shadows+Into+Light+Two" rel="stylesheet">

    <p>
      We understand that there are some things and situations that
      are better solved by talking to a person. As much as we would
      love to speak to you and help there are much better equipped
      individuals who are prepared for your call. So, if you ever
      feel like this, we got you covered. Here are a few US Hotline
      numbers that you can contact 24/7. No matter your situation,
      we hope these numbers will direct you to someone who helps
      you out. Afterwards, if you’re feeling up to it, please share
      your experience with other users through the post page!
    </p>
  </div>
  <div class="resource1">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <h2> U.S. Helplines: </h2>
    <div>
      US Suicide Prevention Lifeline	1-800-273-8255 <br>

      Crisis Chat or Crisis Text Line	Text HOME to 741741 <br>

      NDMDA Depression Hotline – Support Group	800-826-3632 <br>

      Suicide Prevention Services Crisis Hotline	800-784-2433 <br>

      Suicide Prevention Services Depression Hotline	630-482-9696 <br>

      Child Abuse Hotline – Support & Information	800-422-4453 <br>

      Crisis Help Line – For Any Kind of Crisis 800-233-4357 <br>

      Domestic & Teen Dating Violence (English & Spanish)	800-992-2600 <br>

      Parental Stress Hotline – Help for Parents	800-632-8188 <br>

      Runaway Hotline (All Calls are Confidential)	800-231-6946 <br>

      Sexual Assault Hotline (24/7, English & Spanish)	800-223-5001 <br>

      Suicide & Depression Hotline – Covenant House	800-999-9999 <br>

      National Child Abuse Hotline	800-422-4453 <br>

      National Domestic Violence Hotline	800-799-SAFE <br>

      National Domestic Violence Hotline (TDD)	800-787-3224 <br>

      National Youth Crisis Hotline	800-448-4663 <br>
    </div>
  </div>
  <div class="p">
  <link href="https://fonts.googleapis.com/css?family=Kalam|Playfair+Display|Rokkitt|Shadows+Into+Light+Two" rel="stylesheet">
  <p>
    If you wish to educate yourself more on all things mental health, here are some good resources to do so...
  </p>
</div >
  <div class="toresources">
  <link href="https://fonts.googleapis.com/css?family=Kalam|Playfair+Display|Rokkitt" rel="stylesheet">
    <h3>
      Official organizations:
    </h3>

    <div>
      <a href="http://www.mentalhealthamerica.net">Mental Health America</a><br>
      <br>
      <a href="https://www.bbrfoundation.org">Brain and Behavior Research Foundation</a><br>
      <br>
      <a href="http://www.apa.org">American Psychological Association</a><br>
      <br>
      <a href="https://www.nami.org/Find-Support">National Alliance on Mental Illness</a><br>
      <br>
      <a href="https://www.psychiatry.org/">American Psychiatric Association</a><br>
      <br>
      <a href="https://www.jedfoundation.org/">JED Foundation</a>
    </div>

  </div>
  <div class="toresources_blogs">
  <link href="https://fonts.googleapis.com/css?family=Kalam|Playfair+Display|Rokkitt" rel="stylesheet">
    <h3>
      Positive Vlogs:
    </h3>
    <div>
      <a href="http://www.pickthebrain.com/blog/">Pick the Brain</a><br>
      <br>
      <a href="http://drdeborahserani.blogspot.com/">Dr.Deb</a><br>
      <br>
      <a href="https://www.time-to-change.org.uk/personal-stories">Time to Change (link to personal stories)</a><br>
      <br>
      <a href="https://www.healthyplace.com/blogs/copingwithdepression">Healthy Place</a><br>
      <br>
      <a href="https://tinybuddha.com/">Tiny Buddha</a><br>
      <br>
      <a href="http://www.positivelypresent.com/">positively Present</a>
    </div>

  </div>



</html>
